html, body, p, ul, li, a {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none; }

header {
  padding: 20px 10px 20px 0;
  font-size: 1.2em;
  text-align: right;
  background-color: #819da7;
  color: #fff; }
  header .header-nav {
    margin-right: 20px; }
    header .header-nav:link {
      color: #fff; }
    header .header-nav:visited {
      color: #fff; }

footer {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #819da7; }
  @media (max-width: 640px) {
    footer {
      font-size: 0.8em; } }

.main-content {
  width: 100%;
  height: 800px;
  background: url(../img/main.jpg) no-repeat 50%;
  background-size: cover; }
  .main-content .main-topic {
    margin-left: 50%;
    padding-top: 370px;
    font-size: 2.5em;
    font-family: YuGothic, sans-serif;
    letter-spacing: 0.2em;
    color: #fff; }
  @media (max-width: 769px) {
    .main-content {
      height: 500px; }
      .main-content .main-topic {
        padding-top: 200px;
        font-size: 2em; } }
  @media (max-width: 640px) {
    .main-content {
      height: 300px; }
      .main-content .main-topic {
        padding-top: 120px;
        font-size: 1em; } }

.sub-content {
  overflow: hidden;
  width: 72.8vw;
  margin: 0 auto; }

.sub-content-child {
  width: 24vw;
  height: 24vw;
  float: left;
  position: relative;
  margin: 0.2vw 0 0.2vw 0.2vw; }
  .sub-content-child:last-child {
    margin-right: 0.2vw; }
  .sub-content-child:hover {
    cursor: pointer; }
    .sub-content-child:hover .sub-content-text {
      background-color: rgba(0, 0, 0, 0.6); }
  @media (max-width: 640px) {
    .sub-content-child {
      display: block;
      float: none;
      width: 100%;
      height: 100px;
      margin: 5px auto; } }
  .sub-content-child .sub-content-text {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 5px 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5em; }
    @media (max-width: 769px) {
      .sub-content-child .sub-content-text {
        font-size: 1em; } }

.section-link {
  margin: 50px 0;
  padding: 30px 0;
  text-align: center;
  background-color: #d9e2e5; }
  .section-link .link-icon {
    font-size: 3em;
    margin-right: 50px;
    color: #819da7; }
    .section-link .link-icon:hover {
      color: #4d5f65; }
    .section-link .link-icon:visited {
      color: #819da7; }
  @media (max-width: 640px) {
    .section-link .link-icon {
      font-size: 1.5em;
      margin-right: 0;
      margin-left: 30px; }
    .section-link .link-icon-margin-none {
      margin-left: 0; } }

.introduction-area {
  text-align: center; }
  .introduction-area .introduction-text-area {
    font-size: 1.2em;
    line-height: 1.8em; }

#introduction {
  width: 100%;
  height: 800px; }
  @media (max-width: 769px) {
    #introduction {
      height: 300px; } }

.introduction-web {
  background: url(../img/introduction-web.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff; }

.introduction-product {
  background: url(../img/introduction-product.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff; }

.introduction-technology {
  background: url(../img/introduction-technology.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff; }

.float-clear {
  overflow: hidden; }

.web-main-topic {
  overflow: hidden;
  width: 90%;
  margin: 50px auto;
  border-top: 2px solid #819da7;
  padding-top: 50px; }
  .web-main-topic .main-topic-photo {
    width: 46%;
    height: 500px; }
  .web-main-topic .main-topic-photo-web {
    background: url(../img/web-image.jpg) no-repeat 50%;
    background-size: contain; }
  .web-main-topic .main-topic-photo-draw {
    background: url(../img/draw-image.jpg) no-repeat 50%;
    background-size: contain; }
  .web-main-topic .main-topic-photo-unit {
    background: url(../img/unit-image.jpg) no-repeat 50%;
    background-size: cover; }
  .web-main-topic .main-topic-photo-product {
    background: url(../img/product-image.jpg) no-repeat 50%;
    background-size: cover; }
  .web-main-topic .main-topic-photo-3D {
    background: url(../img/3D-image.jpg) no-repeat 50%;
    background-size: contain; }
  .web-main-topic .main-topic-video {
    width: 46%;
    height: 500px; }
  .web-main-topic .youtube-video {
    width: 100%;
    height: 100%; }
  .web-main-topic .main-topic-introduction {
    width: 46%; }
    .web-main-topic .main-topic-introduction h2 {
      padding: 10px 30px 0 30px; }
    .web-main-topic .main-topic-introduction .main-topic-introduction-text {
      padding: 0 30px; }

.main-topic-photo-left {
  float: left;
  margin-left: 3%; }

.main-topic-introduction-left {
  float: left;
  margin-left: 2%;
  margin-right: 3%; }

.main-topic-photo-right {
  float: right;
  margin-left: 2%;
  margin-right: 3%; }

.main-topic-introduction-right {
  float: right; }

.main-topic-btn {
  width: 40%;
  padding: 15px 0;
  background-color: #819da7;
  border-radius: 5px;
  text-align: center;
  margin-left: 50%;
  margin-top: 30px;
  cursor: pointer;
  display: block;
  color: #fff; }
  .main-topic-btn:link {
    color: #fff; }
  .main-topic-btn:visited {
    color: #fff; }
  .main-topic-btn:hover {
    background-color: #d9e2e5;
    color: #819da7; }

.link-btn {
  display: block;
  margin-left: 6%;
  float: left;
  color: #fff; }
  .link-btn:link {
    color: #fff; }
  .link-btn:visited {
    color: #fff; }

@media (max-width: 769px) {
  .main-topic-left .main-topic-photo-left, .main-topic-left .main-topic-photo-right, .main-topic-left .main-topic-introduction-left, .main-topic-left .main-topic-introduction-right, .main-topic-right .main-topic-photo-left, .main-topic-right .main-topic-photo-right, .main-topic-right .main-topic-introduction-left, .main-topic-right .main-topic-introduction-right {
    float: none; }
  .main-topic-left .main-topic-photo, .main-topic-left .main-topic-introduction, .main-topic-left .main-topic-video, .main-topic-right .main-topic-photo, .main-topic-right .main-topic-introduction, .main-topic-right .main-topic-video {
    width: 80%;
    margin: 20px auto; } }
@media (max-width: 640px) {
  .main-topic-left .main-topic-photo, .main-topic-left .main-topic-video, .main-topic-right .main-topic-photo, .main-topic-right .main-topic-video {
    height: 200px; }
  .main-topic-left .main-topic-introduction, .main-topic-right .main-topic-introduction {
    font-size: 0.8em; }

  .main-topic-btn {
    width: 80%;
    margin: 10px auto 0; }

  .link-btn {
    float: none;
    width: 80%;
    margin: 10px auto 0; } }
.cover-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  overflow: scroll;
  display: none; }
  .cover-bg .popup-img {
    width: 50%;
    margin: 50px auto 100px;
    display: block; }
    @media (max-width: 769px) {
      .cover-bg .popup-img {
        width: 80%; } }

/*# sourceMappingURL=main.css.map */
