@import "variable.scss";

.main-content {
  width: 100%;
  height: 800px;
  background: url(../img/main.jpg) no-repeat 50%;
  background-size: cover;
  .main-topic {
    margin-left: 50%;
    padding-top: 370px;
    font-size: 2.5em;
    font-family : YuGothic, sans-serif;
    letter-spacing: 0.2em;
    color: #fff;
  }
  @media (max-width: $break-middle) {
    height: 500px;
    .main-topic {
      padding-top: 200px;
      font-size: 2em;
    }
  }
  @media (max-width: $break-short) {
    height: 300px;
    .main-topic {
      padding-top: 120px;
      font-size: 1em;
    }
  }
}

.sub-content {
  overflow: hidden;
  width: 72.8vw;
  margin: 0 auto;
}

.sub-content-child {
  width: 24vw;
  height: 24vw;
  float: left;
  position: relative;
  margin: 0.2vw 0 0.2vw 0.2vw;
  &:last-child {
    margin-right: 0.2vw;
  }
  &:hover {
    cursor: pointer;
    .sub-content-text {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  @media (max-width: $break-short) {
    display: block;
    float: none;
    width: 100%;
    height: 100px;
    margin: 5px auto;
  }
  .sub-content-text {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 5px 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5em;
    @media (max-width: $break-middle) {
      font-size: 1em;
    }
  }
}

.section-link {
  margin: 50px 0;
  padding: 30px 0;
  text-align: center;
  background-color: #d9e2e5;
  .link-icon {
    font-size: 3em;
    margin-right: 50px;
    color: #819da7;
    &:hover {
      color: #4d5f65;
    }
    &:visited {
      color: #819da7;
    }
  }
  @media (max-width: $break-short) {
    .link-icon {
      font-size: 1.5em;
      margin-right: 0;
      margin-left: 30px;
    }
    .link-icon-margin-none {
      margin-left: 0;
    }
  }
}