@import "variable.scss";

.introduction-area {
  text-align: center;
  .introduction-text-area {
    font-size: 1.2em;
    line-height: 1.8em;
  }
}

#introduction {
  width: 100%;
  height: 800px;
  @media (max-width: $break-middle) {
    height: 300px;
  }
}

.introduction-web {
  background: url(../img/introduction-web.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff;
}

.introduction-product {
  background: url(../img/introduction-product.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff;
}

.introduction-technology {
  background: url(../img/introduction-technology.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff;
}

.float-clear {
  overflow: hidden;
}

.web-main-topic {
  overflow: hidden;
  width: 90%;
  margin: 50px auto;
  border-top: 2px solid #819da7;
  padding-top: 50px;
  .main-topic-photo {
    width: 46%;
    height: 500px;
  }
  .main-topic-photo-web {
    background: url(../img/web-image.jpg) no-repeat 50%;
    background-size: contain;
  }
  .main-topic-photo-draw {
    background: url(../img/draw-image.jpg) no-repeat 50%;
    background-size: contain;
  }
  .main-topic-photo-unit {
    background: url(../img/unit-image.jpg) no-repeat 50%;
    background-size: cover;
  }
  .main-topic-photo-product {
    background: url(../img/product-image.jpg) no-repeat 50%;
    background-size: cover;
  }
  .main-topic-photo-3D {
    background: url(../img/3D-image.jpg) no-repeat 50%;
    background-size: contain;
  }
  .main-topic-video {
    width: 46%;
    height: 500px;
  }
  .youtube-video {
    width: 100%;
    height: 100%;
  }
  .main-topic-introduction {
    width: 46%;
    h2 {
      padding: 10px 30px 0 30px;
    }
    .main-topic-introduction-text {
      padding: 0 30px;
    }
  }
}

.main-topic-photo-left {
  float: left;
  margin-left: 3%;
}

.main-topic-introduction-left {
  float: left;
  margin-left: 2%;
  margin-right: 3%;
}

.main-topic-photo-right {
  float: right;
  margin-left: 2%;
  margin-right: 3%;
}

.main-topic-introduction-right {
  float: right;
}

.main-topic-btn {
  width: 40%;
  padding: 15px 0;
  background-color: #819da7;
  border-radius: 5px;
  text-align: center;
  margin-left: 50%;
  margin-top: 30px;
  cursor: pointer;
  display: block;
  color: #fff;
  &:link {
    color: #fff;
  }
  &:visited {
    color: #fff;
  }
  &:hover {
    background-color: #d9e2e5;
    color: #819da7;
  }
}

.link-btn {
  display: block;
  margin-left: 6%;
  float: left;
  color: #fff;
  &:link {
    color: #fff;
  }
  &:visited {
    color: #fff;
  }
}

@media (max-width: $break-middle) {
  .main-topic-left, .main-topic-right {
    .main-topic-photo-left, .main-topic-photo-right, .main-topic-introduction-left, .main-topic-introduction-right {
      float: none;
    }
    .main-topic-photo, .main-topic-introduction, .main-topic-video {
      width: 80%;
      margin: 20px auto;
    }
  }
}

@media (max-width: $break-short) {
  .main-topic-left, .main-topic-right {
    .main-topic-photo, .main-topic-video {
      height: 200px;
    }
    .main-topic-introduction {
      font-size: 0.8em;
    }
  }
  .main-topic-btn {
    width: 80%;
    margin: 10px auto 0;
  }
  .link-btn {
    float: none;
    width: 80%;
    margin: 10px auto 0;
  }
}